Package: shellcuts
Version: 1.2.2
Section: utils
Depends: python3
Architecture: all
Priority: optional
Maintainer: Tiger Sachse
Homepage: https://www.github.com/tgsachse/shellcuts
Description: directory shortcuts for your shell
 See the manpage for more information.
