name: Publish Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Pull repository
        uses: actions/checkout@v2.0.0

      - name: Build repository
        run: |
          touch 1.abc
          zip shellcuts.zip 1.abc

      - name: Create release
        id: create-release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          tag_name: ${{github.ref}}
          release_name: Release ${{github.ref}}
          draft: false
          prerelease: false

      - name: Upload build artifacts
        id: upload-build-artifacts
        uses: actions/upload-release-asset@v1.0.1

        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          upload_url: ${{steps.create-release.outputs.upload_url}}
          asset_path: ./shellcuts.zip
          asset_name: shellcuts.zip
          asset_content_type: application/zip
